.container {
  width: 100%;
  flex: 1 1 0;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  z-index: 200;

  @media all and (min-width: 1024px) {
    right: 50%;
    transform: translateX(50%);
  }
}