.box {
  display: flex;
  order: -1;
  height: 58px;
  background-color: var(--c-white);
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  @media all and (min-width: 1024px) {
    order: unset;
    background-color: transparent;
    margin-left: auto;
    padding-top: 40px;
    box-shadow: none;
  }
}