.root {
  display: flex;
  align-items: center;
  margin-left: 50px;
  text-decoration: none;
  color: var(--c-gray99);
  transition: .3s;
  outline: none;

  &:hover {
    color: var(--c-orange);

    & .avatar {
      box-shadow: 0 0 0 5px var(--c-white), 0 0 0 6px var(--c-orange);
    }
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--c-grayd9);
  transition: .3s;
}

.username {
  display: none;
  margin-left: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  @media all and (min-width: 1024px) {
    display: block;
  }
}