@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap;");

:root {
    --c-black: #333;
    --c-orange: #cc6633;
    --c-green: #a4cc33;
    --c-white: #fff;
    --c-grayf4: #f4f4f4;
    --c-grayf3: #f3f3f3;
    --c-grayd9: #d9d9d9;
    --c-grayc4: #c4c4c4;
    --c-gray99: #999999;
    --c-gray66: #666666;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--c-grayf4);
    font: 14px/16px "Roboto", sans-serif;
    color: var(--c-black);
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}